.Pokemon{
    width: 20%;
    min-width: 150px;
    margin: .5em;
    padding: 1em;
    color:white;
    border-radius: .4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    transition:  transform .2s ease-in-out;
    background-image: url('../Img/pokeball-background.svg');
    background-repeat: no-repeat;
    background-position:top -10px right -10px;
    background-size: 150px;

    &:hover{
        cursor: pointer;
        transform: translateY(-.5em);
    }


    .Pokemon__info{
        h2{
            margin: 0;
            font-size: 1.5em;
        }

        .Pokemon__abilities p{
            margin: 0.5em 0 0 0;
            padding: .2em 0.5em;
            background-color: rgba(255,255,255,0.2);
            border-radius: 25em;
            text-align: center;
            font-size: .8em;
            display: inline-block;
        }
    }

    .Pokemon__image{
        width: 100px;
    }
}