html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f4f9;
}

.container{
    margin:0 auto;
    width: 80%;
    height: 100%;
    position: relative;
}

img{
    width: 100%;
    height: auto;
}

/*Intro view transitions*/
.intro-view-enter{
    opacity: 0;
}

.intro-view-enter-active{
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.intro-view-exit{
    opacity: 1;
}

.intro-view-exit-active{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

/*Main view transitions*/
.main-view-enter{
    opacity: 0;
    transform: translateY(300px);
}

.main-view-enter-active{
    opacity: 1;
    transform: translateY(0px);
    transition: transform 500ms ease, opacity 500ms ease;
}

.main-view-exit{
    opacity: 1;
    transform: translateY(0px);
}

.main-view-exit-active{
    opacity: 0;
    transform: translateY(300px);
    transition: opacity 200ms ease;
}

