.Pokemon{
    width: 100%;
   
    a {
        text-decoration: none; 
    }

    .Pokemon__info{
        color:white;
        border-radius: .4em;
        padding: 1em;
        height: 100px;
        position: relative;
        background-image: url('../Img/pokeball-background.svg');
        background-repeat: no-repeat;
        background-position:top -10px right -10px;
        background-size: 150px;
        transition:  transform .2s ease-in-out;
        -webkit-box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.55); 
        box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.55);

        &:hover{
            cursor: pointer;
            transform: translateY(-.5em);
        }
    
        h2{
            margin: 0;
            font-size: 1.2em;
        }

        .Pokemon__abilities p{
            margin: 0.5em 0 0 0;
            padding: .2em 0.5em;
            background-color: rgba(255,255,255,0.2);
            border-radius: 25em;
            text-align: center;
            font-size: .8em;
            display: inline-block;
        }

        .Pokemon__image{
            position: absolute;
            top: 15px;
            right: 10px;
            width:100px;
        }
    }
}

